@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Rubik:wght@400;500&display=swap');

html {
   scroll-behavior: smooth;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Space Mono', monospace;
  }

aside {
    flex: 1;
  }
  
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
body {
    margin: 0;
    padding: 0;
 }
 
 .splash {    
    background-image: url('img/space.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: darkblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
 }

 .splash::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.3);
   z-index: 1;
 }
 
 .splash h1 {
    color: white;
    font-size: 10em;
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-bottom: 16%;
    z-index: 1;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de;    /** #ff00de */
 }
 #splash-image {
    width: 25%;
    height: auto;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

 .navbar {
    position: fixed;
    top: 10px;
    height: 60px;
    width: 100%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
 }
 
 .navbar ul {
   display: flex;
   justify-content: center;
   align-items: center; /* Vertically center items */
   height: 100%; /* Take full height of parent */
   padding: 0;
   list-style-type: none;
 }
 
 .navbar li {
   margin: 0 10px;
 }
 
 .navbar a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   transition: background-color 0.3s ease;
 }
 
 .navbar a:hover {
   border-radius: 10px;
   background-color: rgba(255, 255, 255, 0.1);
   border: 1px solid rgba(255, 255, 255, 0.5);
 }

 .images {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.images .display {
   width: 25%;
   height: auto;
   object-fit: cover;
   margin: 1%;
   border: 5px solid rgb(18, 43, 155);
   box-shadow: 10px 10px 10px rgba(0, 0, 0);
}
 
 @media screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }
    section {
        margin-left: 0;
    }
  }
  